*pyc
roboverify/.runtime/
myenv/*
roboverify/MCMC_results
roboverify/images
roboverify/synthesis/images
roboverify/synthesis/trained
roboverify/notebooks/insertion_sort_invariant_practice.html
roboverify/notebooks/robotic_insertion_sort_initial_state.png
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/bootstrap/bootstrap-81267100e462c21b3d6c0d5bf76a3417.min.css
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/bootstrap/bootstrap-icons.css
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/bootstrap/bootstrap-icons.woff
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/bootstrap/bootstrap.min.js
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/clipboard/clipboard.min.js
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/anchor.min.js
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/popper.min.js
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/quarto-syntax-highlighting-ea385d0e468b0dd5ea5bf0780b1290d9.css
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/quarto.js
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/tippy.css
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/tippy.umd.min.js
roboverify/notebooks/insertion_sort_invariant_practice_files/libs/quarto-html/tabsets/tabsets.js
